*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}
body{
	font-size:0.9em;
	font-family: Arial, Helvetica, sans-serif
}
#body-index{
	background-image: url(../imgs/Document.jpg);
}
.principal{
	display:inline-block;
}

#corpo{
	display:inline;
}

#x{
	width:30%;
	max-height:300px;
	margin-right:10px;
	margin-left:10px;
	border:2px solid black;
	float:left;
}
.anuncio{
	padding:15px;
	box-shadow:1px 1px 5px black;
	background-color:rgba(0, 0, 0, 0.568);
	overflow:auto;
	display:block;
	margin-left:auto;
	margin-right:auto;
	cursor:pointer;
	width:80%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 3px;
	color:white;
	/* height: 300px; */
}
h1{
	font-family: Helvetica, sans-serif;
}
.anuncio-link{
	text-decoration:none;
	
	font-family: Helvetica, sans-serif;
}
#x2{
	width:45%;
	max-width:200px;
}
#noticias{
	box-sizing:border-box;
	margin-left:auto;
	margin-right:auto;
	overflow:auto;
	padding-top:20px;
	padding-left:6.8%; 
	padding-right:6.8%; 
	display:flex;
	flex-direction:row;
	width:100%;

}
@media screen and ( max-width:600px) {
	#noticia1{
		width:60%;
	}
	#noticia2{
		width:60%;
	}
	#noticia3{
		width:60%;
	}
	#noticias{
		display:flex;
		flex-direction:column;
	}
	#x{
		width: 75%;
		max-width: 400px;
		height:50%;
		margin-left: auto;
		margin-right: auto;
	}
}

.noticia{
	box-sizing:border-box;
	box-shadow:1px 1px 5px black;
	width:30%;
	max-width:300px;
	overflow:auto;
	text-align:center;
	padding:20px;
	background-color:rgba(0, 0, 0, 0.568);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	color: white;
}

.secundario{
	margin-left:auto;
	margin-right:auto;
	font-family:sans-serif;

}
.anuncio:hover{
	box-shadow:2px 2px 20px;
	color:white;
}
.noticia:hover{
	box-shadow:2px 2px 20px;
}
.formulario{
	padding: 10px;
	border:1px solid black;
	text-align: center;
	width:60%;
	font-size: 0.9em;
}
.formulario-submit{
	padding: 10px;
	background-color: rgb(253, 253, 253);
	border: 1px solid black;
	border-radius: 5px;
	cursor:pointer;
}
#corpo ul{
	list-style-type: none;
}
#corpo ul li{
	width:80%;
	background-color:rgba(0, 0, 0, 0.568);
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 1px 1px 5px black;
}
#corpo ul li a{
	color:white;
	text-decoration: none;
	display: block;
	padding:20px;
	
}
/* ------------------ Página Sobre -----------------------*/

/* ----------------Página Login --------------*/
#body-login{
	background-image: url(../imgs/login_fundo.jpg);
	width:100%;
}
#div-login{
	box-shadow: 1px 1px 5px black;
	background-color:rgba(0, 0, 0, 0.569);
	width:50%;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	padding: 20px;
	text-align: center;
	border-radius: 5px;
	color:white;
	
}
#erro-login{
	width:250px;
	padding: 10px;
	background-color: rgb(211, 70, 70);
	border: 1px solid rgb(233, 18, 18);
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
}
/* -------------- Página Cadastro ADM -----------*/
#principal-cadastro{
	box-sizing: border-box;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	box-shadow: 1px 1px 5px;
	padding: 20px;
}
/*----------Página ADM --------*/
#adm-principal ul{
	list-style-type: none;
}
#adm-principal ul li{
	width:80%;
	background-color:rgba(0, 0, 0, 0.568);
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 1px 1px 5px black;
}
#adm-principal ul li a{
	color:white;
	text-decoration: none;
	display: block;
	padding:20px;
	
}
#adm-principal{
	box-shadow:1px 1px 10px;
	box-sizing: border-box;
	padding: 15px;
	width:80%;
	margin-left: auto;
	margin-right:auto;
	text-align: center;
}
#adm-principal table{
	border: 2px solid black;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}
#adm-principal th{
	color: white;
	background-color: rgb(30, 70, 179);
	border:1px solid rgb(0, 0, 0);
	padding: 5px;
}
#adm-principal td{
	padding: 5px;
	border:1px solid black;
}