 body{
	 background-color:#DCDCDC;
 }
 #fazer, #fazendo, #feito{
	width: 300px;
    max-width: 100%;
    display: inline;
    padding: 20px;
	padding-top:5px;
	padding-bottom:5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
	text-align:center;
	border: 2px #222E50 solid;
	 border-radius: 20px;
 }
 #fazer{
	 background-color:#FF6347;
 }
 #fazendo{
	background-color:#f3f72c;
 }
#feito{
	background-color:#32CD32;
 }
 #titulos {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    /* padding: 10px; */
    color: #222E50;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
}
#menu{
	text-align:center;
}
#text1, #text2, #text3{
	width:300px;
}
#campo1, #campo2, #campo3{
	background-color:white;
	z-index:3;
}
#bot1, #bot2, #bot3{
	padding-bottom:2px;
	padding:10px;
    border: 2px #222E50 solid;
    border-radius: 5px;
    background-color: #246EB9;
    color: white;
    text-align: center;
    width: 50%;
    box-sizing: border-box;
    margin:0 auto;
}

#text-arduino2,#text-RFID2
{
    background-color: #222E50;
    width: 70%;
    top:15%;
    position: fixed;
    display: none;
    margin:0 auto;
    border:10px white double;
    border-radius: 10px;
    box-sizing: border-box;
    left:auto;
    right:auto;
    padding: 20px;
    box-sizing: border-box;
    color: white;
    left:15%;
}
#formulario{
	display:none;
}